.body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    height: 88%;
    overflow-y: scroll;

    /* Define o tamanho e a cor de fundo da barra de rolagem */
    &::-webkit-scrollbar {
        width: 12px;
    }

    /* Define a cor do polegar (a parte da barra de rolagem que você arrasta) */
    &::-webkit-scrollbar-thumb {
        background-color: rgb(144, 99, 247,0.2);
        border-radius: 10px;
    }

    /* Define a cor da trilha (a parte da barra de rolagem onde o polegar desliza) */
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    @media screen and (min-width: 600px) {
        font-size: 0.8rem;
    }

    @media screen and (min-width: 1410px) {
        left: 44%;
        overflow-y: unset;
    }
}