@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.head {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 12%;
    width: 95%;
    border-bottom: 15px solid rgb(144, 99, 247);

    h1 {
        position: absolute;
        top: -5px;
        left: 20px;
        font-family: 'Caveat';
        font-size: 5rem;
        font-weight: 400;
    }

    input {
        margin:5px;
        padding: 5px;
        background-color: #b9d4db;
    }
    select {
        margin:5px;
        padding: 5px;
        background-color: #b9d4db;
    }

    button {
        margin:5px;
        padding: 5px;
        background-color: #b9d4db;
        cursor: pointer;
    }
}